/* @author gman */
@charset "utf-8";

/* COMMON */
* {
    font-family: '나눔고딕', NanumGothic, "Helvetica Neue", Helvetica, AppleSDGothicNeo-Light, sans-serif
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body{position:relative}
html{font-size:10px;line-height:15px}
table{border-collapse:collapse}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
img{vertical-align:top}

/* buttons */
.w33{width:33%}

/* style for : intro.html */
#gCarousel .btn_wrap{position:absolute;bottom:20%;width:100%}
#gCarousel .btn_startApp{display:block;margin:0 auto}
#gCarousel .img-circle{position:relative;top:10%;margin:0 auto}

/* style for : main.html */
.setting_group{margin:0 auto}
.setting_btn_group{display:block;margin:0 auto;font-size:0}
.setting_btn_group li{width:33.3%;overflow:hidden;display:inline-block;margin:1px 0}
.setting_btn_group .btn-default{float:left;display:block;width:100%;height:60px}
section.model .bridge{margin:20px 5px;height:300px;border:1px solid #eee}
footer{margin:0 auto}
footer .btn_calc{display:block}
footer .btn_calc .btn{width:80%;margin:0 auto}
